<div id="<%= dom_id device %>">
  <p>
    <strong>Person:</strong>
    <%= device.person_id %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= device.serial_number %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= device.ip_address %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Device type:</strong>
    <%= device.device_type %>
  </p>

  <p>
    <strong>Mac address:</strong>
    <%= device.mac_address %>
  </p>

  <p>
    <strong>Voided:</strong>
    <%= device.voided %>
  </p>

</div>
